.container{
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(13, 15, 8, 0.8);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;/*Arredonda as bordas*/
    padding: 15px;   /*espaçamento */
    height: 60vh; /* Tamanho em que a div vai ocupar*/
}
.btn{
    border: 0;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px; 
    background-color: white;
    border: 2px solid black;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000000;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: inline-block;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type=number]:focus {
    border: 3px solid #555;
  }

#resposta{
    background-color: rgba(199, 91, 28, 0.8);
    border-radius: 15px; /*Raio da borda*/
    border: 6px double solid; /*Borda e seu respectivo tamanho*/
    border-radius: 15px;/*Arredonda as bordas*/
    padding: 15px;   /*espaçamento */
     font-family: "Lucida Console", "Courier New", monospace;
    color: #E6E6E6; 
    left: 50%;
}
  
p, h1{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #E6E6E6;
}

#txtAltura,#txtPeso{
    left: 50%;
    outline: none;
    
}